
<app-action-maintenance-form
cardHeaderText="ActieLijst"
filterStatus="0"
statusAfterFinished="1"
[firstNameFilter]="authService.firstname"
[amIBestuur]="amIBestuur"
(updateAction)="updateAction($event)"
></app-action-maintenance-form>

<app-action-maintenance-form
cardHeaderText="Herhalende acties"
filterStatus="9"
statusAfterFinished="9"
[firstNameFilter]="authService.firstname"
[amIBestuur]="amIBestuur"
(updateAction)="updateAction($event)"
></app-action-maintenance-form>

<app-decision-maintenance-form
cardHeaderText="Besluitenlijst"
filterStatus="8"
statusAfterFinished="8"
[amIBestuur]="amIBestuur"
(updateAction)="updateAction($event)"
></app-decision-maintenance-form>

<app-action-maintenance-form
cardHeaderText="Afgehandelde acties"
filterStatus="1"
statusAfterFinished="2"
hideAddButton="true"
hideDoneButton="true"
[firstNameFilter]="authService.firstname"
[amIBestuur]="amIBestuur"
(updateAction)="updateAction($event)"
></app-action-maintenance-form>

<app-action-maintenance-form
cardHeaderText="Actie Archief"
filterStatus="2"
statusAfterFinished=""
hideAddButton="true"
hideDoneButton="true"
[firstNameFilter]="authService.firstname"
[amIBestuur]="amIBestuur"
(updateAction)="updateAction($event)"
></app-action-maintenance-form>
