@use "src/mixins.scss" as s;

.cell {
  text-align: left;
  vertical-align: top;
}

// row van de drie tabellen, zonder dit komt er een grijze regel onder elke regel
tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

// expanded detail
.element-detail {
  overflow: hidden;
  display: flex;
  padding-bottom: 10px;
}

th.mat-column-InschrijvingNaam {
  width: 10px;
}

th.mat-header-cell {
  width: 10px;
}



.mat-row .mat-cell,
.mat-header-row .mat-header-cell {
  padding-left: 20px !important;
  
  @media (max-width: 767px) {
    padding-left: 0 !important;
  }
}

// omgekeerde kleuren ivm uitklap frame
.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}
.mat-row:nth-child(odd) {
  background-color: white;
}

// De kleine copy buttons op de detailpag
.mat-icon-button {
  width: 16px;
  height: 16px;
  line-height: 16px;
  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

// Voor de tabel met aantallen per leeftijd
table {
  width: 100%
}
