<h2 mat-dialog-title>Reset wachtwoord</h2>
<small class="development" *ngIf="developmentMode">{{ me }}</small>
<mat-dialog-content [formGroup]="registerForm" novalidate>

  <mat-form-field>
    <input matInput placeholder="Geef je gebruikersnaam" formControlName="userid">
    <mat-error *ngIf="userid.hasError('required')">
      Gebruikersnaam is verplicht
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="showPw ? 'text' : 'password'" placeholder="Password" formControlName="password1"
      placeholder="Kies een nieuw Wachtwoord" (input)="onPasswordInput()">
    <mat-icon matSuffix (click)="showPw = !showPw">{{showPw ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="password1.hasError('required')">Wachtwoord is verplicht</mat-error>
    <mat-error *ngIf="password1.hasError('minlength')">Het wachtwoord moet minimaal
      {{password1.errors.minlength.requiredLength }} lang zijn</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="showPw ? 'text' : 'password'" placeholder="Confirm password" formControlName="password2"
      placeholder="Herhaal het Wachtwoord" (input)="onPasswordInput()">
    <mat-error *ngIf="password2.hasError('required')">Herhaal je wachtwoord</mat-error>
    <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Wachtwoorden zijn ongelijk</mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-message-box [message]="responseText" [error]="error"></mat-dialog-message-box>
<mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]='!registerForm.valid'
    (click)="onChangePassword()">Verstuur</button>
  <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
