.internalcard {
    // color: green !important;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 2px 5px 5px lightgrey;
    margin: 0px 0px 15px 0px;
    background: white;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
}

form {
    margin: 0px;
}
