<app-mat-dialog-header-detail title='{{data.method}}'></app-mat-dialog-header-detail>
<mat-dialog-content [formGroup]="ledenItemForm" novalidate>
    <mat-tab-group [disablePagination]="true" class="tab-group mat-elevation-z4">
        <mat-tab label="Persoonlijk">
            <div id="tab">
                <mat-form-field class="margin-right-20" style="width: 80px;">
                    <input matInput placeholder="Voornaam" formControlName="voornaam" required>
                    <mat-error *ngIf="voornaam.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="width: 60px;">
                    <input matInput placeholder="Tussenvoegsel" formControlName="tussenvoegsel">
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="width: 150px;">
                    <input matInput placeholder="Achternaam" formControlName="achternaam" required>
                    <mat-error *ngIf="achternaam.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="width: 150px;">
                    <input matInput placeholder="Adres" formControlName="adres" required>
                    <mat-error *ngIf="adres.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="width: 60px;">
                    <input matInput placeholder="Postcode" formControlName="postcode" required>
                    <mat-error *ngIf="postcode.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 100px;">
                    <input matInput placeholder="Woonplaats" formControlName="woonplaats" required>
                    <mat-error *ngIf="woonplaats.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="width: 110px">
                    <input matInput placeholder="Geboortedatum" [matDatepicker]="picker" formControlName="geboorteDatum"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="geboorteDatum.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-radio-group class="margin-right-20" placeholder="Geslacht" formControlName="geslacht" required>
                    <mat-radio-button color="primary" class="margin-right-20" value="M">Man
                    </mat-radio-button>
                    <mat-radio-button color="primary" value="V">Vrouw</mat-radio-button>
                </mat-radio-group>


                <mat-checkbox color="primary" formControlName="magnietopfoto">
                    Mag niet op foto</mat-checkbox>

                <br>

                <mat-form-field class="margin-right-20" style="max-width: 150px;">
                    <input matInput placeholder="Mobiel" formControlName="mobiel">
                    <mat-error *ngIf="mobiel.hasError('tel')">
                        Onjuist telefoonnummer
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="max-width: 150px;">
                    <input matInput placeholder="Telefoon" formControlName="telefoon">
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="width: 180;">
                    <input matInput placeholder="Email 1" formControlName="email1"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <mat-error *ngIf="email1.hasError('email')">
                        Onjuist email adres
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 180;">
                    <input matInput placeholder="Email 2" formControlName="email2"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <mat-error *ngIf="email2.hasError('email')">
                        Onjuist email adres
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field style="width: 300px">
                    <input matInput placeholder="Opmerking" formControlName="medisch">
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Lidmaatschap">
            <div id="tab">

                <mat-form-field class="margin-right-20" style="width: 100px;">
                    <mat-select placeholder="Lidtype" formControlName="lidtype" required>
                        <mat-option *ngFor="let item of lidtypeValues" [value]="item.Value">{{item.Label}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="lidtype.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="width: 110px">
                    <input matInput placeholder="Lid vanaf" [matDatepicker]="picker2" formControlName="lidvanaf"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="lidvanaf.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width:60px">
                    <input matInput type="number" placeholder="Lidnummer" formControlName="lidnr" [readonly]='!newlid'>
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="width: 100px">
                    <mat-select placeholder="Betaalwijze" formControlName="betaalwijze" required>
                        <mat-option *ngFor="let item of betaalWijzeValues" [value]="item.Value">
                            {{item.Label}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="betaalwijze.hasError('required')">
                        Veld is verplicht
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="width:150px">
                    <input matInput type="number" placeholder="Vast bedrag" formControlName="vastbedrag">
                    <mat-hint>Contributie is een vastbedrag</mat-hint>
                    <span matPrefix>&euro;&nbsp;</span>
                </mat-form-field>

                <mat-form-field style="width:150px">
                    <input matInput type="number" placeholder="Korting" formControlName="korting">
                    <mat-hint>Korting op de contributie</mat-hint>
                    <span matPrefix>&euro;&nbsp;</span>
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="width: 180px;">
                    <input matInput placeholder="IBAN" formControlName="iban"
                        oninput="this.value = this.value.toUpperCase()">
                    <mat-error *ngIf="iban.hasError('iban')">
                        IBAN onjuist
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 120px;">
                    <input matInput placeholder="NieuwegeinPas-nummer" formControlName="u_pasNr">
                    <mat-hint>Indien het lid een NieuwegeinPas heeft</mat-hint>
                </mat-form-field>

                <br>
                <mat-checkbox class="margin-right-20" color="primary" formControlName="oldstars">Old Stars deelnemer
                    <mat-hint>Aanvinken als het lid bij de Old-Stars deelneemt</mat-hint>
                </mat-checkbox>

                <br>


            </div>

        </mat-tab>
        <mat-tab label="NTTB">

            <div id="tab">
                <mat-form-field class="margin-right-20" style="width:100px">
                    <input matInput type="number" placeholder="Bondsnr" formControlName="bondsnr">
                </mat-form-field>

                <mat-checkbox class="margin-right-20" color="primary" formControlName="lidbond">
                    Lid
                    bond</mat-checkbox>
                <mat-checkbox class="margin-right-20" color="primary" formControlName="compgerechtigd">Comp.Gerechtigd
                </mat-checkbox>

                <br>

                <mat-form-field class="margin-right-20" style="width:60px">
                    <input matInput type="number" placeholder="Rating" formControlName="rating">
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="width: 60px;">
                    <input matInput placeholder="Lic.jun" formControlName="licentiejun">
                </mat-form-field>

                <mat-form-field style="width: 60px;">
                    <input matInput placeholder="Lic.sen" formControlName="licentiesen">
                </mat-form-field>
            </div>

        </mat-tab>
        <mat-tab label="Ouders">
            <div id="tab">
                <mat-form-field class="margin-right-20" style="max-width: 150px;">
                    <input matInput placeholder="Naam" formControlName="ouder1_naam">
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="max-width: 150px;">
                    <input matInput placeholder="Mobiel" formControlName="ouder1_mobiel">
                    <mat-error *ngIf="ouder1_mobiel.hasError('tel')">
                        Onjuist telefoonnummer
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="margin-right-20" style="max-width: 150px;">
                    <input matInput placeholder="Mobiel" formControlName="ouder1_mobiel2">
                    <mat-error *ngIf="ouder1_mobiel.hasError('tel')">
                        Onjuist telefoonnummer
                    </mat-error>
                </mat-form-field>

                <br>
                <mat-form-field style="max-width: 150px;">
                    <input matInput placeholder="Telefoon" formControlName="ouder1_telefoon">
                    <mat-error *ngIf="ouder1_telefoon.hasError('tel')">
                        Onjuist telefoonnummer
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field class="margin-right-20" style="width: 180;">
                    <input matInput placeholder="Email 1" formControlName="ouder1_email1">
                    <mat-error *ngIf="ouder1_email1.hasError('email')"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                        Onjuist email adres
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 180;">
                    <input matInput placeholder="Email 2" formControlName="ouder1_email2">
                    <mat-error *ngIf="ouder1_email2.hasError('email')"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                        Onjuist email adres
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]='!ledenItemForm.valid' (click)="onSubmit()">Bewaar</button>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <button mat-raised-button color="accent" style="flex: 0 0 auto;" (click)="onMail()">Mail</button>
    </div>
</mat-dialog-actions>