<app-display-subscriptions-details-wrapper></app-display-subscriptions-details-wrapper>

<mat-dialog-message-box message="Dit is mijn bericht"></mat-dialog-message-box>

<app-notification-subscription-form></app-notification-subscription-form>

<button mat-raised-button (click)="onClick()" color="primary">Send notification</button>

<h1>V7</h1>

<mat-card>
  <mat-card-header-spinner title="Kopje pagina"></mat-card-header-spinner>
  <mat-card-content>
    <app-a2hs></app-a2hs>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onClick()" color="primary">Enter</button>
  </mat-card-actions>
</mat-card>
