@use "src/mixins.scss" as s;

mat-card {
  text-align: center;
  @include s.desktop {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }
}


.mat-column-Title {
  @include s.mat-text-column-wrap-stuff;
}

.mat-column-HolderName {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-StartDate {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-TargetDate {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-TargetDate {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-EndDate {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 10% !important;
  width: 10% !important;
}
