<app-mat-dialog-header-detail title='Registreren nieuwe gebruiker'></app-mat-dialog-header-detail>
<small class="development" *ngIf="developmentMode">{{ me }}</small>
<mat-dialog-content [formGroup]="registerForm" novalidate>
    <!-- 1 -->
    <mat-form-field>
        <input matInput placeholder="Voornaam" formControlName="firstname" [formControl]="firstname">
        <mat-error *ngIf="firstname.hasError('required')">
            Naam is verplicht
        </mat-error>
    </mat-form-field>
    <!-- 2 -->
    <mat-form-field>
      <input matInput placeholder="Achternaam" formControlName="lastname" [formControl]="lastname">
      <mat-error *ngIf="lastname.hasError('required')">
          Naam is verplicht
      </mat-error>
  </mat-form-field>
      <!-- 3 -->
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" [formControl]="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        <mat-error *ngIf="email.hasError('email')">
            Onjuist email adres
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            Email adres is verplicht
        </mat-error>
    </mat-form-field>
    <!-- 4 -->
    <mat-form-field>
        <input matInput placeholder="Kies een gebruikersnaam" formControlName="userid" [formControl]="userid">
        <mat-error *ngIf="userid.hasError('required')">
            USerid is verplicht
        </mat-error>
    </mat-form-field>
    <!-- 5 -->
    <mat-form-field>
        <input matInput [type]="showPw ? 'text' : 'password'" placeholder="Kies een Wachtwoord"
            formControlName='password'>
        <mat-icon matSuffix (click)="showPw = !showPw">{{showPw ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
            Het wachtwoord moet minimaal {{
            password.errors.minlength.requiredLength }} lang zijn
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
            Wachtwoord is verplicht
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-message-box [message]="responseText" [error]="error"></mat-dialog-message-box>
<mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]='!registerForm.valid' (click)="onSubmit()">Registreer</button>
</mat-dialog-actions>
